[user]
	name = Alex Moore
	email = moore.alex@gmail.com

[alias]
	l80 = "!git log --abbrev-commit --date=short --pretty=format:'%h%x00%cd%x00%s%x00%an%x00%d'| less -R"
	d = difftool
	co = checkout
	up = "!git remote update -p; git merge --ff-only @{u}"
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/alex/.gitignore_global
        autocrlf = input
	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = current
# [diff]
# 	tool = vimdiff
# [difftool]
# 	prompt = false
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[diff]
	tool = bc3
[difftool]
    prompt = false
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
    prompt = false
[color]
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[difftool "bc3"]
	trustExitCode = true
